@tailwind base;
@tailwind components;
@tailwind utilities;

#main{
    /* background-color: rgb(12, 12, 40); */
    background-color: rgb(230,230,230);
    overflow: hidden;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.try{
    color:rgb(112, 175, 49)
}