@tailwind base;
@tailwind components;
@tailwind utilities;

#main{
    /* background-color: rgb(12, 12, 40); */
    background-color: rgb(230,230,230);
   
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.try{
    color:rgb(112, 175, 49)
}
.navbar {
    transition: background-color 0.5s ease-in-out;
    position: sticky;
  top: 0;
  z-index: 1000;
  }
  
  .navbar:hover {
    background-color: #f5f5f5; /* Change the background color when hovered */
  }
  
  .nav-link {
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: black; /* Change the text color to black when hovered */
  }
  
  .nav-button {
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-button:hover {
    transform: scale(1.05); /* Add a scale effect when the button is hovered */
  }
  .navbar-glassmorphism {
    background: rgba(30, 30, 30, 0.45);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(30, 30, 30, 0.225);
  }
  /* .rotating-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100%;
  } 
  
  .rotating-content {
    display: flex;
    gap: 20px; 
  } 
  
 
  .scrolling-content {
    display: flex;
    align-items: center;
    white-space: nowrap;
  } */
  